.eventos-container {
  display: flex;            
  gap: 20px;                 
  flex-wrap: wrap;           
  justify-content: center;   
}

.evento-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s;
  
  width: 48%;                
  min-width: 300px;          
  max-height: 300px;         
}

.evento-text {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.evento-img-container {
  flex: 1;
  overflow: hidden;
}

.evento-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.evento-btn {
  background-color: #065e1b;
  color: white;
  border: none;
  padding: 10px 45px;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s;
}
